openapi: 3.0.3
info:
  title: Yodeck REST API (Modeled) Layouts Playlists API
  description: 'Programmatic management of a Yodeck digital signage account - media, playlists, layouts, screens (monitors), schedules, shows, and workspaces. Yodeck publishes a REST API whose interactive reference lives at https://app.yodeck.com/api-docs/ and is available to Premium and Enterprise plans. Access uses a named, role-scoped API token generated under Account Settings > Advanced Settings > API Tokens; the token acts as a user and inherits the permissions of the role assigned to it.


    IMPORTANT: The live Yodeck API reference is behind an account login, so this document is MODELED from Yodeck''s publicly documented resource set and product pages, not copied from an official machine-readable spec. Base path, exact field names, pagination, and the precise Authorization header format should be confirmed against the live reference at app.yodeck.com/api-docs before relying on this specification. Endpoints here are illustrative of the documented capabilities (CRUD over media, playlists, layouts, screens, schedules, shows, workspaces) rather than verbatim.'
  version: '1.0'
  contact:
    name: Yodeck
    url: https://www.yodeck.com
    email: support@yodeck.com
  x-modeled: true
  x-modeled-note: Endpoints and schemas modeled from Yodeck's documented resource set; the authoritative reference is login-gated at https://app.yodeck.com/api-docs/.
servers:
- url: https://app.yodeck.com/api/v1
  description: Yodeck REST API (base path modeled; confirm against live reference)
security:
- tokenAuth: []
tags:
- name: Playlists
  description: Ordered sequences of media with per-item duration and transitions.
paths:
  /playlists/:
    get:
      operationId: listPlaylists
      tags:
      - Playlists
      summary: List playlists
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A paginated list of playlists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistList'
    post:
      operationId: createPlaylist
      tags:
      - Playlists
      summary: Create a playlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistInput'
      responses:
        '201':
          description: Playlist created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
  /playlists/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getPlaylist
      tags:
      - Playlists
      summary: Retrieve a playlist
      responses:
        '200':
          description: A playlist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
    patch:
      operationId: updatePlaylist
      tags:
      - Playlists
      summary: Update a playlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistInput'
      responses:
        '200':
          description: Playlist updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
    delete:
      operationId: deletePlaylist
      tags:
      - Playlists
      summary: Delete a playlist
      responses:
        '204':
          description: Playlist deleted.
components:
  schemas:
    PlaylistList:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Playlist'
    PlaylistInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              media_id:
                type: integer
              duration:
                type: integer
              order:
                type: integer
    Playlist:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        items:
          type: array
          description: Ordered media items with durations and transitions.
          items:
            type: object
            properties:
              media_id:
                type: integer
              duration:
                type: integer
              order:
                type: integer
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated results (modeled).
      schema:
        type: integer
    Id:
      name: id
      in: path
      required: true
      description: The numeric identifier of the resource.
      schema:
        type: integer
    PageSize:
      name: page_size
      in: query
      required: false
      description: Number of results per page (modeled).
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Named, role-scoped API token generated in the Yodeck console (Account Settings > Advanced Settings > API Tokens). The token acts as a user with the permissions of its assigned role. Send it in the Authorization header. The exact header value format (for example "Token name:secret") is documented in the login-gated reference and should be confirmed there.
