openapi: 3.0.3
info:
  title: Yodeck REST API (Modeled) Layouts Shows API
  description: 'Programmatic management of a Yodeck digital signage account - media, playlists, layouts, screens (monitors), schedules, shows, and workspaces. Yodeck publishes a REST API whose interactive reference lives at https://app.yodeck.com/api-docs/ and is available to Premium and Enterprise plans. Access uses a named, role-scoped API token generated under Account Settings > Advanced Settings > API Tokens; the token acts as a user and inherits the permissions of the role assigned to it.


    IMPORTANT: The live Yodeck API reference is behind an account login, so this document is MODELED from Yodeck''s publicly documented resource set and product pages, not copied from an official machine-readable spec. Base path, exact field names, pagination, and the precise Authorization header format should be confirmed against the live reference at app.yodeck.com/api-docs before relying on this specification. Endpoints here are illustrative of the documented capabilities (CRUD over media, playlists, layouts, screens, schedules, shows, workspaces) rather than verbatim.'
  version: '1.0'
  contact:
    name: Yodeck
    url: https://www.yodeck.com
    email: support@yodeck.com
  x-modeled: true
  x-modeled-note: Endpoints and schemas modeled from Yodeck's documented resource set; the authoritative reference is login-gated at https://app.yodeck.com/api-docs/.
servers:
- url: https://app.yodeck.com/api/v1
  description: Yodeck REST API (base path modeled; confirm against live reference)
security:
- tokenAuth: []
tags:
- name: Shows
  description: Reusable groupings of media, playlists, and layouts.
paths:
  /shows/:
    get:
      operationId: listShows
      tags:
      - Shows
      summary: List shows
      responses:
        '200':
          description: A paginated list of shows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowList'
    post:
      operationId: createShow
      tags:
      - Shows
      summary: Create a show
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowInput'
      responses:
        '201':
          description: Show created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show'
  /shows/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getShow
      tags:
      - Shows
      summary: Retrieve a show
      responses:
        '200':
          description: A show.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show'
    patch:
      operationId: updateShow
      tags:
      - Shows
      summary: Update a show
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowInput'
      responses:
        '200':
          description: Show updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Show'
    delete:
      operationId: deleteShow
      tags:
      - Shows
      summary: Delete a show
      responses:
        '204':
          description: Show deleted.
components:
  schemas:
    Show:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        items:
          type: array
          description: Grouped media, playlists, and layouts.
          items:
            type: object
            properties:
              content_type:
                type: string
              content_id:
                type: integer
              order:
                type: integer
    ShowInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              content_type:
                type: string
              content_id:
                type: integer
              order:
                type: integer
    ShowList:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Show'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The numeric identifier of the resource.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Named, role-scoped API token generated in the Yodeck console (Account Settings > Advanced Settings > API Tokens). The token acts as a user with the permissions of its assigned role. Send it in the Authorization header. The exact header value format (for example "Token name:secret") is documented in the login-gated reference and should be confirmed there.
