openapi: 3.0.3
info:
  title: Yodeck REST API (Modeled) Layouts API
  description: 'Programmatic management of a Yodeck digital signage account - media, playlists, layouts, screens (monitors), schedules, shows, and workspaces. Yodeck publishes a REST API whose interactive reference lives at https://app.yodeck.com/api-docs/ and is available to Premium and Enterprise plans. Access uses a named, role-scoped API token generated under Account Settings > Advanced Settings > API Tokens; the token acts as a user and inherits the permissions of the role assigned to it.


    IMPORTANT: The live Yodeck API reference is behind an account login, so this document is MODELED from Yodeck''s publicly documented resource set and product pages, not copied from an official machine-readable spec. Base path, exact field names, pagination, and the precise Authorization header format should be confirmed against the live reference at app.yodeck.com/api-docs before relying on this specification. Endpoints here are illustrative of the documented capabilities (CRUD over media, playlists, layouts, screens, schedules, shows, workspaces) rather than verbatim.'
  version: '1.0'
  contact:
    name: Yodeck
    url: https://www.yodeck.com
    email: support@yodeck.com
  x-modeled: true
  x-modeled-note: Endpoints and schemas modeled from Yodeck's documented resource set; the authoritative reference is login-gated at https://app.yodeck.com/api-docs/.
servers:
- url: https://app.yodeck.com/api/v1
  description: Yodeck REST API (base path modeled; confirm against live reference)
security:
- tokenAuth: []
tags:
- name: Layouts
  description: Multi-zone screen layouts that split a display into regions.
paths:
  /layouts/:
    get:
      operationId: listLayouts
      tags:
      - Layouts
      summary: List layouts
      responses:
        '200':
          description: A paginated list of layouts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutList'
    post:
      operationId: createLayout
      tags:
      - Layouts
      summary: Create a layout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutInput'
      responses:
        '201':
          description: Layout created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
  /layouts/{id}/:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getLayout
      tags:
      - Layouts
      summary: Retrieve a layout
      responses:
        '200':
          description: A layout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
    patch:
      operationId: updateLayout
      tags:
      - Layouts
      summary: Update a layout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutInput'
      responses:
        '200':
          description: Layout updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layout'
    delete:
      operationId: deleteLayout
      tags:
      - Layouts
      summary: Delete a layout
      responses:
        '204':
          description: Layout deleted.
components:
  schemas:
    Layout:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        zones:
          type: array
          description: Regions of the screen, each with its own content.
          items:
            type: object
            properties:
              name:
                type: string
              x:
                type: number
              y:
                type: number
              width:
                type: number
              height:
                type: number
              content_type:
                type: string
              content_id:
                type: integer
    LayoutList:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Layout'
    LayoutInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        zones:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              x:
                type: number
              y:
                type: number
              width:
                type: number
              height:
                type: number
              content_type:
                type: string
              content_id:
                type: integer
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The numeric identifier of the resource.
      schema:
        type: integer
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Named, role-scoped API token generated in the Yodeck console (Account Settings > Advanced Settings > API Tokens). The token acts as a user with the permissions of its assigned role. Send it in the Authorization header. The exact header value format (for example "Token name:secret") is documented in the login-gated reference and should be confirmed there.
